
nb-list-item {
  cursor: pointer;
  padding: 0;
  &:hover {
    background-color: whitesmoke;
  }
  & .active {
    background-color: whitesmoke;
  }
  div {
    outline: none;
    padding: 1rem;
  }
}

::ng-deep {
  .main-container {
    .scrollable {
      padding: 1.25rem 0 !important;
    }
  }
}
